.entireUI {
  height: 100vh;
  background-color: white;
  width: 100%;
  overflow-x:hidden;
}

.TopCard{
  width:100vw;
  height:100vh;
  background-color:white;
  display:flex;
}

.TopUI {
  width: 100%;
  height: calc(10vw + 250px);
  background-color: #5000ca;
  display: flex;
}

.middleUI {
  width: 100%;
  height: 30vh;
  background-color: white;
  display: flex;
  margin-top:-3;
}

.mainText {
  color: white;
  padding: 0;
  margin:0;
  margin-left: 10vh;
  padding-top: 10vh;
  font-size: 80px;
}

.mainTitle {
  color: #5000ca;
  padding: 0;
  margin:0;
  margin-left: 6vh;
  padding-top: 8vh;
  font-size: 8vh;
}

.mainSubTitle {
  color: dark;
  padding: 0;
  margin:0;
  margin-left: 10vh;
  padding-top: 10vh;
  font-size: 26px;
}

.secondText {
  color: black;
  padding: 0;
  margin:0;
  margin-left: 10vh;
  padding-top: 10vh;
  font-size: 80px;
}

.mainLogo {
  width:250px;
  height: 250px;
  margin-top: 10vh;
  border-radius: 50%;
  background-color:white;
  margin-right: 5vh;
  margin-left: auto;
}
.mainLogo2 {
  width:250px;
  height: 250px;
  margin-top: 10vh;
  border-radius: 50%;
  background-color:black;
  margin-right: 5vh;
  margin-left: auto;
}

.Summary {
  color:white;
  margin-left: 10vh;
  font-size: 22px;
  margin-top:10px;
}

.Summary_Blk {
  color:black;
  margin-left: 10vh;
  font-size: 22px;
  margin-top:10px;
}


.wave3 {
  margin-top:3;
}