.entireUI {
  height: 100vh;
  background-color: white;
  width: 100%;
}

.TopUI {
  width: 100%;
  height: 30vh;
  background-color: #5000ca;
  display: flex;
}

.middleUI {
  width: 100%;
  height: 30vh;
  background-color: white;
  display: flex;
  margin-top:-3;
}

.mainText {
  color: white;
  padding: 0;
  margin:0;
  margin-left: 10vh;
  padding-top: 10vh;
  font-size: 80px;
}

.secondText {
  color: black;
  padding: 0;
  margin:0;
  margin-left: 10vh;
  padding-top: 10vh;
  font-size: 80px;
}

.mainLogo {
  width:250px;
  height: 250px;
  margin-top: 10vh;
  border-radius: 50%;
  background-color:white;
  margin-right: 5vh;
  margin-left: auto;
}
.mainLogo2 {
  width:250px;
  height: 250px;
  margin-top: 10vh;
  border-radius: 50%;
  background-color:black;
  margin-right: 5vh;
  margin-left: auto;
}

.depluxLink {
  color:white;
  margin-left: 10vh;
  font-size: 22px;
}

.minepluxLink {
  color:black;
  margin-left: 10vh;
  font-size: 22px;
}

.wave3 {
  margin-top:3;
}